@media(max-width:1200px) {
    .navbar .logo img {
        height: 50px;
    }

    .navbar .logo h1 {
        font-size: 25px;
    }

    .navbar .menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .home-section-child-left h1 {
        font-size: 80px;
    }

    .home-section-child-right img {
        height: 400px;
        z-index: 3;
        animation: head-pizza 60s ease infinite;
        border-radius: 50%;
    }
}

@media(max-width:992px) {
    .navbar .menu {
        display: none;
    }

    .navbar .menu {
        display: none;
    }

    .navbar .hamburger {
        display: flex;
    }

    .navbar .logo img {
        height: 60px;
    }

    .navbar .logo h1 {
        font-size: 30px;
    }

    .home-section-child-right img {
        height: 300px;
        z-index: 3;
        animation: head-pizza 60s ease infinite;
        border-radius: 50%;
    }
}

@media (max-width: 768px) {
    .navbar .contact-btn {
        display: none;
    }

    .home-section-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .home-section-child-right {
        grid-column-start: 1;
    }

    .home-section-child-left-btn:nth-child(2) {
        display: flex;
    }

    .animation-position-img:nth-child(2) {
        margin-top: 600px;
        margin-left: 65%;
        animation: animation-position-img-2 4s ease infinite;
    }

    @keyframes animation-position-img-2 {
        0% {
            margin-top: 600px;
        }

        50% {
            margin-top: 650px
        }

        100% {
            margin-top: 600px
        }
    }

    @keyframes animation-position-img-4 {
        0% {
            margin-top: 350px;
        }

        50% {
            margin-top: 420px
        }

        100% {
            margin-top: 350px
        }
    }

    .animation-position-img:nth-child(5) {
        margin-top: 260px;
        margin-left: 60%;
        animation: animation-position-img-5 7s ease infinite;
    }
}

@media (max-width: 576px) {}

@media (max-width: 460px) {
    .home-section-child-left h1 {
        font-size: 50px !important;
    }

    .home-section-child-left-btn {
        width: 180px;
        height: 60px;
        font-size: 20px;
    }

    .home-section-child-left p {
        font-size: 18px;
    }

    .home-section-child-left {
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 0 50px 0 50px;
        width: 90%;
    }
}